<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        form {
            height: 80vh;
            width: 100vw;
            background-color: antiquewhite;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        h1 {
            text-decoration: overline;
        }

        .btn {
            width: 400px;
            border-radius: 20px;
            font-size: 34px;
            padding: 17px 30px;
            background-color: rgb(90, 11, 11);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bold;
            color: white;
        }

        input {
            padding: 0px 10px;
            font-size: 17px;
            width: 400px;
            height: 100px;
            border-radius: 18px;
            border: 3px solid whitesmoke;
        }

        .error {
            color: red;
            font-size: 0.7rem;
            text-align: right;
            margin: 1rem;
        }
    </style>
    <title>Login</title>
</head>

<body>
    <form action="/login" method="post">
        <h1>Login Now</h1>
        <input type="email" name="email" placeholder="Enter your email id.." value="<%= locals.email %>">
        <input type="password" name="password" placeholder="Enter your password..">
        <p class="error">
            <%= locals.message %>
        </p>
        <button class="btn" type="submit">Login</button>
    </form>
</body>

</html>